<h1> This is the list of all Cocktails</h1>

<p>Cocktail</p>
<%= @cocktails.each do |cocktail| %>
<%= link_to cocktail_path(cocktail)  do %>
<p> NAME<%= cocktails.name %></p>
<p> <%= cocktailS.dose %></p>
<p> <%= cocktail.ingredient %></p>
<% end %>
<% end %>

